.d-flex{
  align-items: right;
  margin-left: 40%;
}
.container{
  padding-right: 0px;
    padding-left: 0px;
}
.d-align{
  margin-left: auto;
  margin-left: 89%;
  margin-top: -3.28%;
}
.f-align{
  margin-left: 63%;
  margin-top: -3.4%;
  margin-right: -7%;
}
.pass-align{
  margin-left: 5px;
}
.btn-align{
  margin-left: 5px;
}
.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}
#ul-align{
  margin-left: 10%;
  margin-top: -3.3%;
}
#ul2-align{
  margin-left: 10%;
  margin-top: -3.3%;
}
#nav-align{
  padding-top: 0%;
  padding-bottom: .4%;
}

